<h1>User Registration</h1>
<%=form_for (@user),:url=>users_path,:method=>:post do |f|%>
    <p>
      </br>
      Full Name
      <%= f.text_field :full_name %>
    </p>
    <p>
      </br>
      Password
      <%= f.password_field :password %>
    </p>
    <p>
      <%= f.submit "Sign up" %>

    </p>
<%end%>

